{% extends "../swole.twig" %}

{% block title %}Meals{% endblock %}
{% block page_header %}
	Meals <small>0 meals made</small> 
	<a href="/meals/create" class="pull-right btn btn-md btn-success">Create Meal</a>
{% endblock %}

{% block content %}
	{% if meals|length <= 0 %}
		<p class="text-center">
			You have no meals :( <br />
			Why not <a href="/meals/create">add</a> some?
		</p>
	{% endif %}
	{% for meal in meals %}
		{{ meal['name'] }}
	{% endfor %}
{% endblock %}