{% extends "swole.twig" %}

{% block title %}Dashboard{% endblock %}
{% block page_header %}Dashboard{% endblock %}

{% block content %}
	<div class="container">
		TODO: Insert goodness here.
	</div>		
{% endblock %}