<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Make meal plans, Track swoleness, get torn. Stay shreaded brothers.">
        <meta name="author" content="Brayden Lopez">
        <link rel="stylesheet" media="screen" href="css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="css/login.css">

        <link rel="shortcut icon" type="image/png" href="img/icon.png">
        <title>Login - Swole</title>
    </head>
    <body>
        <div class="wrapper">
            <form class="form-signin" action="/login" method="post">
                <h2 class="form-signin-heading text-center">Swole</h2>
                {% if successful != "" %}
                    <div class="alert alert-danger">
                        Invalid Username or Password. Try again.
                    </div>
                {% endif %}
                <input type="text" class="form-control" name="username" placeholder="Username" required autofocus/>
                <input type="password" class="form-control" name="password" placeholder="Password" required/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
            </form>
            <div class="login-footer text-center">
                Version: {{ config_get("app")["version"] }}<?php echo 'test' ?>
            </div>
        </div>
    </body>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</html>