<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="utf-8">
		    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		    <meta name="viewport" content="width=device-width, initial-scale=1">
		    <meta name="description" content="Make meal plans, Track swoleness, get torn. Stay shreaded brothers.">
		    <meta name="author" content="Brayden Lopez">
	       	<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
			<link rel="stylesheet" media="screen" href="css/main.css">

	        <link rel="shortcut icon" type="image/png" href="img/icon.png">
            <title>{% block title %}{% endblock %} - Swole</title>
        {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            <div class="content">
                {% block footer %}
                    &copy; Copyright 2015 <a href="http://mrlopez.me/">@headdetect</a>
                {% endblock %}
            </div>
        </div>
    </body>
    {% block scripts %}
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% endblock %}

</html>